/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/* End CSS Reset */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Muli|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i');


/* End font import */

body {
	font-family: sans-serif;
}

nav {
	background-image: url(../img/red-background.jpg);
	color: white;
	box-shadow: 0px 10px 10px rgba(0,0,0,.3);
	overflow: hidden;
	padding: 30px;
}

ul.header, .header, .navTop, .columns {
	max-width: 1290px;
	margin: 0 auto;
}


.leftCol, .logo {
	float: left;
	position: relative;
}

.logo {
	background-image: url(../img/beyond-napa-logo-2x.png);
	background-size: 356px 37px;
	background-repeat: no-repeat;
	width: 356px;
	height: 37px;
	display: block;
	margin-top: 20px;
}

.logo span {
	display: none;
}

.rightCol {
	float: right;
}


.navTop:after {
	content: "";
	clear: both;
	display: table;
}

ul.header {
/* 	width: 100%; */
	margin-top: 25px;
}


ul.header li {
	display: inline;
	list-style-type: none;
	margin-right: 1.2em;
}

ul.header li:last-child {
	margin-right: 0;
}

ul.header {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4em;
}

ul.header li a {
	color: #ffdede;
	text-decoration: none;
	-webkit-transition: width 1s;
	transition: width 1s;
}

ul.header li a:hover {
	color: white;

}

ul.header li a.purchase {
	background-color: rgba(138, 0, 0, 0.8);
	border: 1px solid rgba(255,255,255,.5);
    padding: 3px 10px;
    color: white;
}

ul.header li a.purchase:hover {
	background-color: rgba(138, 0, 0, 0.4);
	border: 1px solid rgba(255,255,255,1);
    padding: 3px 10px;
    color: white;
}

.noheroImageHeader {
	background-color: #e0e0e0;
	padding: 25px 25px 0 25px;
}

.content {
/* 	padding: 20px; */
	max-width: 1290px;
	margin: 0 auto;
}

.active {
	color: white;

}

.smallHeader, .bigImageHeader {
	position: relative;
    width: 100%;
    overflow: hidden;
    background-color: gray;
}

.smallHeader {
    min-height: 250px;
}

.bigImageHeader {
    min-height: 500px;
}

.titleInfo {
	position: absolute;
    /* min-height: 166px; */
    /* margin-top: 2px; */
    z-index: 2;
    top: 50%;
    /* left: 50%; */
    /* -webkit-transform: translate(-50%,-50%); */
    transform: translate(0%,-50%);
    width: 100%;
}

.ava, .wineryTitle, .pageTitle {
	display: block;
    position: relative;
    z-index: 1;
    padding: 0;
    text-align: center;
    color: #fff;
    letter-spacing: .05rem;
    margin-bottom: 30px;
}

.pageTitleBlack {
	display: block;
    position: relative;
    z-index: 1;
    padding: 0;
    text-align: center;
    color: black;
    letter-spacing: .05rem;
    margin-bottom: 30px;
}

h1.wineryTitle, h1.pageTitle, h1, .noheroImageHeader h1 {
	font-size: 3.2em;
	font-family: 'Alegreya Sans', sans-serif;
}

.noheroImageHeader h1 {
	text-align: center;
}

.ava:after {
	content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
    margin: auto;
    opacity: .6;
    position: relative;
    top: 18px;
}

.wineryLocation {
	text-align: center;
}

.hero-overlay {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5)
}

img.wineryImage {
	object-fit:cover;
}

.wineryImage {
	position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* Main Content */

[class*='grid-'] {
	margin-bottom: 10px;
}

.grid-container a {
	text-decoration: none;
	color: #aa080a;
}

.grid-container a:hover {
	color: #323232;
}

.grid-container {
	margin-top: 10px;
}

.mainContent {
	
}

.mainContent strong {
	font-weight: 800;
}

.mainContent em {
	font-style: oblique;
}

.mainContent strong em, .mainContent em strong {
	font-style: oblique;
	font-weight: 800;
}

.mainContent .center, .footer .center {
	text-align: center;
}

.mainContent .imgFullCol, .footer .imgFullCol {
	width: 100%;
	height: auto;
}

.gridThumbnail {
	overflow: auto;
}

.gridThumbnail li {
	float: left;
	width: 31%;
	margin: 1%;
	background-color: purple;
	padding-bottom: 16%;
	position: relative;
	display: block;
	
}

@media only screen and (max-width: 768px) {
  .gridThumbnail li {
	float: left;
	width: 48%;
	margin: 1%;
	background-color: purple;
	padding-bottom: 16%;
	position: relative;
	display: block;
	}
}

.gridThumbnail li a {
	position: absolute;
	bottom: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.36);
	display: block;
	width: 100%;
	padding: 10px;
}

.gridThumbnail:after {
	content: "";
	clear: both;
	display: table;
}

.gridThumbnail h3 {
/* 	padding: 10px; */
	
	text-align: center;
	background-color: rgba(0, 0, 0, 0.30);
	color: white;
	font-weight: 700;
}

.gridThumbnail img {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	background-size: cover;
	overflow: hidden;
	z-index: 10;
	opacity: 0.5;
}

.mainContent h2 {
	font-size: 2rem;
	margin-bottom: 10px;
	font-family: Nunito, sans-serif;
	font-weight: 200;
}

.mainContent h3 {
	font-size: 1.6rem;
	margin-bottom: 10px;
	font-family: Nunito, sans-serif;
	font-weight: 200;
}

.mainContent a.button {
	border: 1px solid #d3d3d3;
	padding: 8px;
/* 	overflow: hidden; */
	display: inline-block;
} 

.mainContent a.button.fullWidth {
	display: block;
	text-align: center;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	background-color: rgba(0,0,0,0);
}

.mainContent a.button.fullWidth:hover {
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
	background-color: #870204;
	color: white;
}

.mainContent p, .mainContent ul li, section, .footer {
	margin-bottom: 10px;
	font-family: Nunito, sans-serif;
	font-size: 1.0em;
	line-height: 1.4em;
}

.mainContent ul {
	margin-bottom: 10px;
}

.mainContent ul li {
	margin-bottom: 5px;
}

.mainContent p:last-child, .mainContent ul li:last-child {
	margin-bottom: 0;
}

.buyBox {
	border: 1px solid #ccc;
    padding: 10px;
    background: rgb(240,171,12);
    background: linear-gradient(180deg, rgba(240,171,12,0.3767262747875354) 5%, rgba(255,255,255,0) 14%);
}

.synopsis h2 {
	font-size: 3rem;
	text-align: center;
    margin-bottom: 40px;
}

.synopsis h2:after {
	content: '';
    display: block;
    width: 75px;
    height: 2px;
    background: #800303;
    margin: auto;
    position: relative;
    top: 18px;
}

.synopsis p, .synopsis p:last-child {
	font-size: 1.6em;
	font-weight: 200;
	color: #6b6b6b;
	margin-bottom: 15px;
}

p.moneyValue {
	font-size: 1.6em;
    padding: 10px 0px;
    font-weight: 200;
}

h1.smallerType, p.smallerType {
	font-size: .8em;
}

ul.subNav {
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.subNav li {
	margin: 0;
	display: inline;
	margin-right: 10px;
}

ul.subNav li:last-child {
	margin-right: 0;
}

ul.subNav li a {
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
}

ul.subNav li a:hover {
	background-color: rgba(0,0,0,0.7);
}

/* Table Design */

.content table {
	width: 100%;
	background-color: #f0f0f0;
}

.contactDetails:before, .contactDetails:after {
	content: "";
    display: table;
}

.contactDetails:after {
	clear: both;
} 

section {
	margin-bottom: 50px;
}

.leftCol.label, h2.label {
	width: 30%;
	text-align: right;
}

.leftCol.detail {
	margin-left: 20px;
	font-weight: 800;
}

/* MailChimp */

.position5000 {
	position: absolute; 
	left: -5000px;
}

.mailChimpDisplayNone {
	display:none;
}

.visitList:nth-of-type(odd) {
	background-color: yellow;
}

.visitList:after {
	margin-bottom: 50px;
}

/* Social Media Icons */

a.facebook {
	background: url('../img/social-media-icons.png') no-repeat top left;
	width: 13px;
	height: 23px;
	display: block;
} 
a.facebook:hover {
	background-position-y: -23px; 
}

.facebook span {
	display: none;
}

.footer a, .footer a:hover {
	color: #ffffff;
}

.footer a:hover {
	text-decoration: underline;
}

.greyBG {
	background-color: #2e2e2e;
	color: white;
	padding: 30px 0px;
}

.greyBG, .extraMargin {
	margin-bottom: 40px;
}

.greyBG h3, .extraMargin h3 {
	margin-top: 60px;
}

.greyBG p:last-child, .extraMargin p:last-child {
	margin-bottom: 30px;
}

/* Form Design  */

.form-style-1 {
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
}
.form-style-1 label{
	margin: 10px 0 10px 0;
	font-size: 1.4em;
	padding:0px;
	display:block;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
	display: block;
	width: 100%;
	margin-top: 10px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

/* FOOTER */

.footer {
	background: rgb(88,0,0);
background: radial-gradient(circle, rgba(88,0,0,1) 0%, rgba(70,0,0,1) 100%);
	color: #c8c8c8;
	padding: 25px 0 0 0;
	min-height: 300px;
	overflow: hidden;
	margin: 0;
}

.footer ul {
	margin-bottom: 10px;
}

.footer h2 {
	font-size: 1.3em;
	margin-bottom: 10px;
}

.footer h3 {
	font-size: 1.1em;
	margin-bottom: 10px;
}




